   <%-include('header',{username:username,message:message}) %>
    <%-include('menu',{username:username,message:message}) %>
    <%-include('tchatbox',{username:username,message:message}) %>

    <h1>Résultats de la recherche :</h1>
 <div id="about" class="container-fluid" style="text-align: center">
    <h4>Valeur recherché : <%= value %></h4>
    <%-include('elementMailListTemplate',{username:username,message:message,doc:doc}) %>
 </div>

    <%-include('footer',{username:username,message:message}) %>