    <%-include('header',{username:username,message:message}) %>
    <%-include('menu',{username:username,message:message}) %>
    <%-include('tchatbox',{username:username,message:message}) %>

   
    
    <h1> Bienvenue <%=username%> </h1>
    <p> Acceuil de l'application </p>

 <%-include('footer',{username:username,message:message}) %>