<%-include('header',{username:username,message:message}) %>
    <%-include('menu',{username:username,message:message}) %>
    <%-include('tchatbox',{username:username,message:message}) %>


 <div id="about" class="container-fluid" style="text-align: center">
        <h1>Résultats de la recherche :</h1>
        <h3>Valeur recherché : <%= value %></h4>
        
 </div>

    <%-include('footer',{username:username,message:message}) %>