    <%-include('header',{username:username,message:message}) %>
    <%-include('menu',{username:username,message:message}) %>
    <%-include('tchatbox',{username:username,message:message}) %>

    
    <div id="about" class="container-fluid" style="text-align: center">
        <h1>Mes Rappels :</h1>
        <%-include('elementReminderListTemplate',{username:username,message:message,doc:doc}) %>
    </div>

    <%-include('footer',{username:username,message:message}) %>